<html>
    <title>Movie name</title>
<body>
       <center>
           <br><br><br><br><br>
           <p>Enter your emotion</p>
           <li>Disgust</li>
           <li>Sad</li>
           <li>Anger</li>
           <li>Anticipation</li>
           <li>Fear</li>
           <li>Enjoyment</li>
           <li>Trust</li>
           <li>Surprise</li>
           
       <form method="POST" action="http://localhost:5000/home">
           
           <input type="text" name="mood" placeholder="Emotion"><br><br>
         <input type="submit" value="Submit">
       </form>
       </center>


       
            
</body>
</html>